body {
}

#calculator {
  font-family: 'Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.calculator {
  background-color: #fefefe;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.display-container{
  padding: 20px 20px 0;
}

.display {
  width: 200px; /*.arithmetic-buttons의 width 값과 맞추면 된다.*/
  margin: 0;
  padding: 0;
  border-radius: 5px;
  text-align: right;
  font-size: 24px;
  box-sizing: border-box; /* border-weight 만큼 픽셀이 width에 포함되는 걸 제거*/
}

.arithmetic-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
  width: 200px;
  /*height: 500px;*/
  padding: 20px;
}

.button {
  padding: 10px;
  margin: 0;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  box-sizing: border-box;
  text-align: center;
}

.button:hover {
  background-color: #e0e0e0;
}
.button:active {
  background-color: #d0d0d0;
}
.button.operator {
  color: #fff;
  background-color: #fe9241;
}
.button.operator:hover {
  background-color: #ffab6e;
}